*{
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body::-webkit-scrollbar{
  display: none;
}
 
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.loginform{
  width: 50%;
}
.loading{
  text-align: center;
  margin-top:25%;
}
.header {
  height: 60px;
}
.historylist {
  float: left;
  width: 50%;
}

@media only screen and (max-width:700px){
  .historylist{
    width:100%
  }
  .loginform{
    width: 90%;
  }
}

.selectpicker {
  width: 30%;
}
.dashboard-detail {
  width: 50%;
}